
img {
  grid-area: 1 / 2 / 4;
  width: 171px;
  height: 180px;
}

div.stars {
  transform: scale(0.6);
  display: grid;
  grid-template: 1fr / 1fr;
  grid-area: 1 / 2;
}

.stars {
  object-position: 0;
  object-fit: none;
  height: 48px;
  width: 244px;
  grid-area: 1 / 1;
}

.stars.individual {
  transform: scale(0.2)
}

h3 {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  width: fit-content;
}

h5 {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  width: fit-content;
}

h3 > {
  width: fit-content;
}