.show {
  float: right;
  margin: 0.5em;
}

.form {
  right: 1em;
  top: 1em;
  position: sticky;
  z-index: 3;
  float: right;
}

.collapsible {
  right: 1em;
  top: 1em;
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  position: fixed;
  width: 40%;
  
  float: right;
  z-index: 2;
  box-shadow: 0 0 10px;
}