.show {
  float: right;
  margin: 0.5em;
}

.form {
  right: 1em;
  position: absolute;
  z-index: 3;
}

.collapsible {
  background: white;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  position:absolute;
  width: 40%;
  right: 1em;
  z-index: 2;
  box-shadow: 0 0 10px;
}