.spacer {
  width: 2em;
  display: inline-block;
}

.review {
  display: flex;
  flex-direction: column;
}

.report {
  justify-content: flex-end;
  color: lightseagreen;
  text-decoration: underline;
}